@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #view {
        @apply text-sm font-semibold text-purple-600;
    }
    #view:hover {
        @apply text-purple-600;
    }
    #view:visited {
        @apply text-purple-600;
    }
    
    #input{
        transition: width 250ms ease-out;
    }
    
    #input::placeholder{
        font-family: FontAwesome;
    }

    #input:focus,
    #input:not(:placeholder-shown){
        padding: 16px;
        width: 35%;
        font-size: 24px;
    }
  }
